extends layout

block content
	.jumbotron
		.container
			h1 How May I Help you?
			p We aim to ethically facilitate our capability by reliably integrating our mission critical next-generation core assets. Our core competency development lifecycle enables world-class, knowledge transfer diversities. We use our competitive visibilities to strategically manage our emerging market expectations. Is your driver prepared for proactive action point growth?
			a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
	.container
		.row
			.col-md-4
				h2 About us
				p We aim to iteratively grow our ballpark figure by dynamically connecting our innovative value-added siloes
				a.btn.btn-default(href='#') View Details				
			.col-md-4
				h2 Services
				p In the future, will you be able to strategically transform team players in your business? 
				a.btn.btn-default(href='#') View Details				
			.col-md-4
				h2 Contact
				p Our step-change development lifecycle enables actionable, proactive enterprises.
				a.btn.btn-default(href='#') View Details
