doctype html
html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        body
            nav.navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#') Express Contact
                    #navbar.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li(class=(title === 'Home' ? 'active' : ''))
                                a(href='/') Home
                            li(class=(title === 'About' ? 'active' : ''))
                                a(href='/about') About
                            li(class=(title === 'Contact' ? 'active' : ''))
                                a(href='/contact') Contact
                    // /.nav-collapse
            block content
            footer
                .container
                    p &copy; 2015, All Rights Reserved
            // /.container