body {
  padding-top: 50px;
}
.jumbotron{
	background:lightgrey;
}
footer{
	position: absolute;
 	bottom: 0;
  	width: 100%;
	background: lightgrey;
	height: 40px;
	text-align:center;
	margin-top: 30px;
	padding-top: 10px;
	overflow: auto; 
}
